<div class="card-content">
  <div class="card-img">
    <img src="{{destino.imagenUrl}}" alt="">
    <span><h4>{{posicion}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <!-- Recorremos los destinos-->
      <li *ngFor="let s of destino.servicios">
        <!-- Cambiamos el color del servicio mostrado si corresponde con alguno de los switch -->
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color:red">
            {{s}}
          </i>
          <i *ngSwitchDefault>
            {{s}}
          </i>
        </span>
      </li>
    </ul>
    <!-- Definimos el evento click que llama a la función ir -->
    <a href="#" class="btn-card" (click)="ir()">Ir!</a>
    <!-- Mostramos un span si es seleccionado -->
    <span *ngIf="destino.isSelected()">-- PREFERIDO --</span>
    <a [routerLink]='["/destinos"]'  class="btn-card" >Ver detalle</a>
  </div>
</div>
