<!-- formGroup = Representa los elemntos de un formulario
     ngSubmit permite ejecutar la función cuando se pulse el botón de envio, en este caso llamamos
     a la función guardar con dos parámetros de entrada -->
<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
  <div class="form-group">
    <label for="nombre">nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="ingresar nombre..." formControlName="nombre">
    <!-- Comprobamos si es válido el nombre -->
    <!--<div *ngIf="!fg.controls['nombre'].valid">Nombre inválido</div>-->
    <!-- Otra forma de validar: Comprobamos si el formulario contienen el error requerido -->
    <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</div>
    <!-- Comprobamos que no devuelve un error con código invalidNombre -->
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido</div>
    <!-- Comprobamos que no devuelve un error con código minLongNombre -->
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">El nombre debe tener al menos {{minLongitud}} de largo!</div>
  </div>
  <div class="form-group">
    <label for="imagenurl">imagen url</label>
    <input type="text" class="form-control" id="imagenurl" placeholder="ingresar	url..." formControlName="url">
  </div>
  <button type="submit" class="btn	btn-primary" *ngIf="fg.valid">guardar!</button>
</form>
