<div class="container	content">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formlogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">whishlist</h3>
        </div>
        <div class="card-body">
          <!-- Cuando se produzca el evento onItemAdd se llama a la función agregar-->
          <app-form-destino-viaje (onItemAdded)="agregar($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row">
    <!-- Capturamos el evento del click de un destino
    Daría igual hacer: (clicked)="elegido(d)" o (clicked)="elegido($event)" -->
    <app-destino-viaje
      *ngFor="let d of destinos; let i=index"
      [destino]="d"
      (clicked)="elegido($event)"
      [posicion]="i+1"
    ></app-destino-viaje>

  </div>
  <div class="row">
    <h5>Destinos seleccionados por orden</h5>
    <ol>
      <li *ngFor="let u of updates">{{u}}</li>
    </ol>
  </div>
</div>
